<h1>Criar Publicação</h1>
<hr>
<form method="POST" action="?pagina=admin&metodo=insert">
    <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" id="titulo" placeholder="Informe um Título" name="titulo">
    </div>
    <div class="form-group">
        <label for="DescricaoPost">Conteúdo</label>
        <textarea class="form-control" id="DescricaoPost" rows="5" name="conteudo"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

<!--
<form method="POST" action="?pagina=admin&metodo=insert">
    <span>Titulo</span><br/>
    <input type="text" name="titulo">
    <br/><br/>

    <span>Conteudo</span><br/>
    <textarea name="conteudo" cols="25" rows="5"></textarea>
    <br/><br/>

    <input type="submit" value="Cadastrar">
</form>
-->