{% for post in Postagens %}
<div class="card w-33" style="width:18rem">
    <div class="card-body">
        <h5 class="card-title">{{post.des_titulo}}</h5>
        <p class="card-text">{{post.des_conteudo}}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
{% endfor %}
<!--
<section>
    <h1>Postagens:</h1>

    {% for post in Postagens %}
        <article>
            <header>
                <h2><a href="http://localhost:8080/?pagina=post&id={{post.cod_postagem}}">{{post.des_titulo}}</a></h2>
            </header>
            <p>{{post.des_conteudo}}</p>
        </article>
    {% endfor %}
    
    
</section>
-->