<section>
        <article>
            <header>
                <h2>{{Titulo}}</h2>
            </header>
            <p>{{Conteudo}}</p>
            <hr>
            {% if Comentarios == false %}
                <p>Nenhum comentario encontrado para essa postagem.</p>
            {% else %}
                {% for comentario in Comentarios %}
                    <div class="card p-3 m-2">
                        <div class="card-body">
                            <h5 class="card-title">{{comentario.des_nome}}</h5>
                            <p class="card-text">{{comentario.des_mensagem}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </article>
</section>